@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
  @apply border-violet-500;
}
input:checked + div svg {
  @apply block;
}

/* Respect user's reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@layer components {
  body {
    overflow-y: auto;
  }
  .btn {
    @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 
        hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }
}

@layer base {
  html {
    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk", sans-serif;
  }
  body {
    @apply bg-white text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-violet-500;
  }

  .btn {
    @apply inline-block px-5 py-3 rounded-lg hover:bg-violet-600 transition duration-300 shadow-lg bg-violet-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-violet-500 focus:ring-opacity-50 whitespace-nowrap;
  }
}
