@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    overflow-y: scroll;
  }
  .btn {
    @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 
        hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  .btn {
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap;
  }
}
