@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    overflow-y: scroll;
  }
  .btn {
    @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 
        hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }
}
